{% extends "base.html" %}
{% block settings %}{% set layout = "home" %}{% endblock settings %}
{% block content %}
<div class="entries-list">{% for post in paginator.pages %}{{<blog.entry post={post} />}}{% endfor %}</div>
{% if paginator.number_pagers > 1 %}
<nav class="pagination"><ul>
  <li>{% if paginator.previous %}<a href="{{ paginator.previous }}">Previous</a>{% else %}<a href="#" class="disabled"><span aria-hidden="true">Previous</span></a>{% endif %}</li>
  {% for number in range(start=1, end=paginator.number_pagers + 1) %}
  <li>{% if number == paginator.current_index %}<a href="#" class="disabled current" aria-current="page">{{ number }}</a>{% else %}<a href="{% if number == 1 %}{{ paginator.first }}{% else %}{{ paginator.base_url }}{{ number }}/{% endif %}">{{ number }}</a>{% endif %}</li>
  {% endfor %}
  <li>{% if paginator.next %}<a href="{{ paginator.next }}">Next</a>{% else %}<a href="#" class="disabled"><span aria-hidden="true">Next</span></a>{% endif %}</li>
</ul></nav>
{% endif %}
{% endblock content %}
