{% extends "base.html" %}
{% block settings %}{% set layout = "post" %}{% endblock settings %}
{% block main %}
<main id="main" class="main-content" aria-label="Content"><article class="h-entry"><div class="page-wrapper">
  <header class="page-header"><h1 id="page-title" class="page-title p-name">{{<blog.title post={page} />}}</h1></header>
  <div class="page-sidebar">
    <div class="page-author h-card p-author"><div class="author-info">
      <div class="author-name"><span class="p-name">{{ (page.authors | first) or config.extra.author }}</span></div>
      {{<blog.read_time post={page} />}}
      <time class="page-date dt-published" datetime="{{ page.date }}"><a class="u-url" href="{{ page.permalink }}">{{ page.date | date(format="%B %-d, %Y") }}</a></time>
    </div></div>
    {% if page.taxonomies.tags %}
    <h3 class="page-taxonomies-title">Tags</h3>
    <ul class="page-taxonomies">{% for tag in page.taxonomies.tags %}<li class="page-taxonomy"><a class="p-category" rel="tag" href="{{ get_taxonomy_url(kind='tags', name=tag) }}" title="Pages tagged {{ tag }}">{{ tag }}</a></li>{% endfor %}</ul>
    {% endif %}
  </div>
  <div class="page-content">
    <div class="e-content">{{ page.content | safe }}</div>
    {% if page.extra.share | default(value=false) %}{% include "share.html" %}{% endif %}
    <nav class="page-pagination" role="navigation">
      {% if page.higher %}<a class="page-previous" href="{{ page.higher.permalink }}"><h4 class="page-pagination-label">Previous</h4>
      <span class="page-pagination-title"><i class="fas fa-arrow-left"></i> {{<blog.title post={page.higher} />}}
      </span>
      </a>{% endif %}
      {% if page.lower %}<a class="page-next" href="{{ page.lower.permalink }}"><h4 class="page-pagination-label">Next</h4>
      <span class="page-pagination-title">{{<blog.title post={page.lower} />}} <i class="fas fa-arrow-right"></i>
      </span>
      </a>{% endif %}
    </nav>
  </div>
</div></article></main>
{% endblock main %}
