{% extends "base.html" %}
{% block settings %}{% set layout = "search" %}{% endblock settings %}
{% block content %}
<form onsubmit="return false;"><label for="search" class="screen-reader-text">Search posts</label><input type="search" id="search" class="search-input" placeholder="Enter your search term..." autofocus></form>
<div id="results" aria-live="polite"></div>
<noscript><p>Enable JavaScript to search posts.</p></noscript>
{% endblock content %}
{% block scripts %}
<script src="{{ get_url(path='elasticlunr.min.js') }}"></script>
<script src="{{ get_url(path='search_index.' ~ config.default_language ~ '.js') }}"></script>
<script src="{{ get_url(path='assets/js/search.js') }}"></script>
{% endblock scripts %}
